.exhibition-wrapper {
    max-width: 100%;
    padding: 40px;
    background-color: #fff;
}

.exhibition-info {
    font-size: 28px;
    font-weight: 700;
    color: #35425a;
    margin-bottom: 28px;
    padding-left: 12px;
    border-left: 4px solid #4a90e2;
}

.exhibition-content {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.exhibition-image {
    width: 100%;
}

.exhibition-details {
    font-size: 17px;
    text-align: left;
    margin-top: 12px;
}