.carousel {
    width: 100%;
    max-width: 1440px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 10px 10px 30px grey;
    margin-bottom: 2rem;
}

.carousel-slides {
    display: flex;
    width: 300%;
    height: 100%;
}

.carousel-slides > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-button,
.carousel-nav {
    position: absolute;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button.stop {
    bottom: 0;
    left: 50%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
.carousel-button.prev {
    top: 50%;
    left: 10px;
}
.carousel-button.next {
    top: 50%;
    right: 10px;
}
.carousel-nav {
    left: 49%;
    bottom: -0.8em;
}
.carousel-nav div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 5px;
}

.carousel-nav .current-slide {
    background-color: black;
}
.main-info {
    display: flex;
}
.main-info-left {
    width: 80%;
    margin-right: 15px;
    box-sizing: border-box;
}
.main-info-first-icon {
    margin-right: 10px;
}
.main-info-right {
    width: 20%;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    box-sizing: border-box;
    align-items: end;
}

.main-info-right > div {
    margin-right: 5px;
    width: 50%;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
.main-info-content {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 1em;
    padding-left: 0;
}
.main-info-content > li {
    margin-right: 1em;
}

.main-info-think,
.main-info-light {
    font-size: large;
}
.main-info-first {
    font-weight: 600;
    display: flex;
    font-size: x-large;
}
.main-info-think {
    font-weight: 600;
}

.main-info-right-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-info-right-item hr {
    width: 100%;
    margin: 0 auto;
}
.main-info-right-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 223, 175), rgb(200, 200, 200), rgb(142, 146, 219));
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.main-info-right-item:hover::after {
    opacity: 1;
}
.main-exhibition-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-exhibition-list {
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    overflow: auto;
}

.main-exhibition-item-img-container {
    position: relative;
}
.main-exhibition-item-img-container::after {
    content: "국립중앙박물관";
    color: white;
    font-size: large;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    z-index: 99;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.main-exhibition-item-img-container:hover::after {
    opacity: 1;
}
.main-press-container {
    width: 50%;
    /* border: 1px solid black; */
    margin-right: 30px;
    box-sizing: border-box;
}
.main-attention {
    display: flex;
    height: 100%;
}
.main-attention-press {
    /* border: 1px solid black; */
    box-sizing: border-box;
}
.main-attention .main-attention-press ul {
    list-style: none;
    box-sizing: border-box;
    font-size: larger;
    width: 100%;
    padding: 0;
    border-radius: 10px;
}
.main-attention-list-item:first-child {
    height: 86px;
    box-sizing: border-box;
    border-radius: 10px;
    /* background-color: aliceblue; */
}
.main-attention-list-item {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.main-attention-list-item:last-child {
    justify-self: end;
}
.main-attention-list-item a:hover {
    color: rgb(92, 146, 148);
}
.main-attention-list-item div {
    font-weight: lighter;
    color: #7b7b7b;
}

.main-attention-imgs {
    display: flex;
    box-sizing: border-box;
    height: 25em;
}
.main-attention-left-img {
    width: 80%;
    height: 100%;
}
.main-attention-right-imgs {
    width: 20%;
    height: 100%;
}

.main-attention-imgs img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-schedules {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
/* .main-calendar-container {
    border: 2px solid black;
} */

.fc-day-sun a {
    color: rgb(195, 34, 34);
}
.fc-day-sat a {
    color: rgb(62, 87, 210);
}
.fc .fc-toolbar.fc-header-toolbar {
    padding: 5px 10px;

    font-size: 12px;
    font-weight: 500;
    color: aliceblue;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
}
.fc {
    box-sizing: border-box;
    flex-grow: 1;
}

.fc .fc-button {
    background-color: transparent;
    border: none;
}
.fc .fc-button .fc-icon {
    color: white;
}

.fc .fc-today-button:disabled {
    background-color: var(--subColor1);
}
.fc-theme-standard th {
    height: 32px;
    padding-top: 3.5px;
    background: #e5edff;
    border: 1px solid #dddee0;
    font-size: 16px;
    line-height: 19px;
    color: #7b7b7b;
}
.fc-theme-standard th {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.fc-theme-standard .fc-scrollgrid {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
}
.fc-event {
    box-sizing: border-box;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    margin: 5px;
}
