.reservation-info-card {
    width: 40%;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    color: #333;
}

.reservation-info-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 60px;
    text-align: center;
}

.reservation-info-item {
    margin-bottom: 12px;
    font-size: 15px;
}

.reservation-title {
    font-size: 30px;
}

.reservation-content {
    font-size: 25px;
}